html {
  scroll-behavior: smooth;
}
body {
    padding-top: 0;
}
a {
    color:green;
}
a:hover,a:focus,a:active {
    color:green;
    text-underline-position: under;
}
header {
    position: relative;
    top:0;
}
header .navbar-collapse {
    margin-top: 100px;
}
header nav .navbar-brand img { 
    position: absolute; 
    top:15px;
    left: 15px;
    max-width:100px;
    height: auto;
    border-radius: 5px;
}
header nav .navbar-brand span { 
    display: none;
}
header .navbar-toggler:hover,
header .navbar-toggler:active,
header .navbar-toggler:focus,
header .navbar-toggler:focus-visible {
    outline: transparent none 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
header .navbar-nav .nav-item img {
    border-radius: 3px;
    max-width: 30px;
    height: auto;
}

header .hero {
    position: relative;
    top: 55px;
    width: 100%;
    background-color: dimgray;
}
header .hero .caption {
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin:0 auto;
    text-align: center;
    z-index: 2;
}
header .hero h1,
header .hero p {
    color: white;    
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
header .hero img {
    width: 100%;    
    height: auto;
}
main .card .card-image {
    max-height:255px;
    overflow: hidden;
}
main .card .card-title {
    font-size: 1.25rem;
}
main .contact strong {
    float:left;
    width:100px;
}
main .contact h4,
main .imprint h4,
main .legal h4 {
    font-size: 1.25rem;
}
footer a {
    color:white;
}
footer a:hover {
    text-decoration: none;
}
.scroll-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    margin-left: -27px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background: #343a40;
    color: white;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 8;
    cursor: pointer;
}
.scroll-to-top i {
        padding:6px 8px 8px 8px;
        border-radius: 100%;
        background: transparent;
        border:1px solid white;
        color:white;
}
.scroll-to-top:hover {
        background: green;
        color: white;
        border:0;
        outline: none;
        text-decoration: none;
}
.scroll .scroll-to-top {
    display: block;
}

@keyframes moveandscale {
  0% {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@media (width >= 1024px) {
    header .navbar-collapse {
        margin-top: 0;
    }
    header nav .navbar-brand span { 
        display: inline;
        padding-left: 120px;
    }
    header .hero {
        top: -20px;
        height: 100vh;
        overflow: hidden;
    }
    header .hero .carousel {
        max-height: 100vh;
        overflow: hidden;
    }
    header .hero .carousel .carousel-indicators {
        bottom: unset;
        top: 85vh;
    }
    header .hero img {
        display: block;
        width:100%;
        height: 100%;
        animation-name:moveandscale;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
    header .hero h1 {
        position: relative;
        font-size: 4rem;
    }
}

@media (width >= 1400px) {  
    header nav .navbar-brand img {
        max-width: 150px;
    }
    header nav .navbar-brand span { 
        display: inline;
        padding-left: 180px;
    }
}
